<div class="col-12 mt-4" *ngIf="!isLoading">
  <div class="row">
    <div class="font-lg col-12 col-md-8 pl-0" [translate]="'UniversisGraduationModule.GraduationInfo'"></div>
    <div class="col-12 col-md-4">
      <button class="btn btn-light float-right" type="button" disabled
              [translate]="'UniversisGraduationModule.ContactRegistrar'"></button>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-12 ">
    <div class="card">
      <div class="card-body px-4 py-3">
        <h5 class="card-title font-xl" [translate]="'UniversisGraduationModule.StudentInfo'"></h5>
        <div class="form-group row">
          <div class="col-md-2">
            <span class="text-dark" [translate]="'UniversisGraduationModule.StudyGuide'"></span>
          </div>
          <div>
            <span class="text-secondary col-md-6">{{this.studentGuide || "-"}}</span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-2">
            <span class="text-dark" [translate]="'UniversisGraduationModule.Specialty'"></span>
          </div>
          <div>
            <span class="text-secondary col-md-6">{{this.studentSpecialty || "-"}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Radio Switch Buttons -->
<div *ngIf="graduationInfo && graduationInfo.graduationRules; else not_set">
  <div class="row">
    <div class="col-12 d-flex flex-row-reverse">
      <div class="s--btn-group-toggle float-right">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-toggle" [routerLinkActive]="'active'">
            <input type="radio" name="options" id="option1" autocomplete="off"><span
            [translate]="'UniversisGraduationModule.Prerequisites'" [routerLink]="['./prerequisites']"></span>
          </label>
          <label class="btn btn-toggle" [routerLinkActive]="'active'">
            <input type="radio" name="options" id="option2" autocomplete="off"><span
            [translate]="'UniversisGraduationModule.Progress'" [routerLink]="['./progress']"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="col-12">
     <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ng-template #not_set>
  <div class='card'>
    <div class='card-body'>
      <div class='row'>
        <div class="col-12">
          <span class="text-gray-600" [translate]="'UniversisGraduationModule.NoRulesFound'"></span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
