<div class="row">
  <div class="col-12">
    <h2>{{ 'UniversisGraduationModule.GraduationCeremony.Title' | translate }}</h2>
  </div>
</div>

<div class="row py-3" *ngIf="currentStep.data.request">
  <div class="col-12">
    <h5>{{ 'UniversisGraduationModule.GraduationCeremony.ParticipationStatus' | translate }}</h5>
    <div class="align-items-center">
      <i *ngIf="this.currentStep.status === 'completed'" class="mr-2 font-5xl text-gray-500 fas fa-graduation-cap"></i>
      <span class="font-lg">{{ 'UniversisGraduationModule.GraduationCeremony.MandatoryParticipation' | translate }}</span>
    </div>

    <div class="mt-3 align-items-center" *ngIf="this.currentStep.status === 'failed'">
      <div>
        <button  type="button" class="btn btn-light" disabled>
          {{ 'UniversisGraduationModule.ContactRegistrar' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Graduation ceremony date and location -->
<div class="row my-3">
  <div class="col-12">
    <h5>{{ 'UniversisGraduationModule.GraduationCeremony.GraduationCeremonyStatus' | translate }}</h5>
    <div *ngIf="selectedEvent">
      <div class="row col-12 col-xl-12">
        <div class="col-12 col-md-6 col-lg-3 col-xl-3 mt-2" *ngIf="selectedEvent?.name">
          <div class="row text-gray-600"> {{ 'UniversisGraduationModule.EventName' | translate }} </div>
          <div class="row font-lg font-weight-bold" [ngClass]="'text-primary'">{{ this.selectedEvent?.name }}</div>
        </div>
      </div>
      <div class="row col-12 col-xl-12">
        <div class="col-12 col-md-6 col-lg-3 col-xl-3 mt-2" *ngIf="selectedEvent?.startDate">
          <div class="row text-gray-600"> {{ 'UniversisGraduationModule.Date' | translate }} </div>
          <div class="row font-weight-bold font-lg">{{ this.selectedEvent?.startDate | date }}</div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 col-xl-3 mt-2" *ngIf="selectedEvent?.startDate">
          <div class="row text-gray-600"> {{ 'UniversisGraduationModule.Time' | translate }} </div>
          <div class="row font-weight-bold font-lg">{{ this.selectedEvent?.startDate | date: 'short' }}</div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xl-6 mt-2" *ngIf="this.selectedEvent?.location">
          <div class="row text-gray-600"> {{ 'UniversisGraduationModule.Location' | translate }} </div>
          <div class="row font-weight-bold font-lg">{{ this.selectedEvent?.location?.name }}</div>
        </div>
        <div class="col-12 col-md-6 col-lg-12 col-xl-6 mt-2" *ngIf="this.selectedEvent?.url">
          <div class="row text-gray-600"> {{ 'UniversisGraduationModule.Url' | translate }} </div>
          <div class="row font-weight-bold font-lg"><a href="{{this.selectedEvent?.url}}" target="_blank">{{ this.selectedEvent?.url }}</a></div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-12 col-xl-6 mt-2" *ngIf="this.selectedEvent?.reportTemplates?.length > 0">
        <div class="row text-gray-600"> {{ 'UniversisGraduationModule.CertificateInfo' | translate }} </div>
        <div *ngFor="let report of this.selectedEvent?.reportTemplates">
          <div class="row font-sm">{{ report.name }}</div>
        </div>
      </div>
    </div>
    <div>
      <div class="font-lg mt-3" *ngIf="!selectedEvent?.startDate">
        {{ 'UniversisGraduationModule.GraduationCeremony.DatesWillBeAnnouncedNotice' | translate }}
      </div>
      <div class="font-lg mt-3" *ngIf="!selectedEvent?.location">
        <i class="font-lg text-info fa fa-info-circle mr-3"></i>
        <span> {{ 'UniversisGraduationModule.GraduationCeremony.MailWillBeSentNotice' | translate }} </span>
      </div>
    </div>
  </div>
</div>

<!-- certificates -->
<div *ngIf="certificates && certificates.length > 0" class="row mt-4 mb-3 ">
  <h5>
    {{ 'UniversisGraduationModule.GraduationCeremony.GraduationCertificates' | translate }}
  </h5>
  <div class="col-12 py-2" *ngFor="let certificate of certificates">
    <div class="row font-lg col-12">{{ certificate.title }}</div>
    <!-- <button (click)="downloadFile(certificateUrl);" type="button"
            class="align-self-start btn btn-secondary btn-requests btn-requests-grey d-block d-sm-none mt-2"></button> -->
      <button type="button" class="mt-1 col-lg-1 col-md-2 col-sm-3 btn btn-light">
        {{ 'UniversisGraduationModule.Download' | translate }}
      </button>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="span text-red mt-4" *ngIf="this.currentStep.data.errors">
      {{'UniversisGraduationModule.GraduationCeremony.errors.'+this.currentStep.data.errors.code | translate}}
    </div>
  </div>
</div>
