<ng-container *ngIf="!graduationInfo.graduationRules[0].ruleExpression; else complex">
  <div *ngFor="let rules of graduationInfo?.graduationRules | groupBy: 'refersTo' | values" class="card mt-4">
    <div class="card-body px-4 py-3">
      <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)"
        class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
        (click)="collapsed1.value = !collapsed1.value">
        <h5 class="card-title font-xl mb-2">{{'UniversisGraduationModule.'+rules[0].refersTo | translate}}
          <i class="collapsible  ml-3 pt-1 fa"
            [ngClass]=" {'fa-chevron-up' : collapsed1.value, 'fa-chevron-down' : !collapsed1.value}"></i>
        </h5>
      </a>
      <form *ngIf="collapsed1.value" class="mt-2 collapsible-form ">
        <div *ngFor="let rule of rules" class="d-flex py-2 course-row">
          <span class="rule-circle text-secondary">
            <i class="fa fa-lock"></i>
          </span>
          <div class="align-self-center">
            <span class="ml-3 row text-secondary">{{rule.validationResult.message}}.</span>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-container>

<ng-template #complex>
  <div class="card mt-4 px-4">
    <div class="card-body px-0">
      <ng-container *ngIf="!isLoading">
        <h5 class="card-title font-xl" [translate]="'UniversisGraduationModule.ComplexRule'"></h5>
        <div class="pb-4"><span>{{'UniversisGraduationModule.ComplexRules' | translate}}</span></div>
        <universis-graduation-tree *ngIf="graduationInfo.graduationRules.length" [rules]="graduationInfo.graduationRules"></universis-graduation-tree>
      </ng-container>
    </div>
  </div>
</ng-template>
