<ng-container>
  <div class="row mb-4">
    <div class="col-12 col-md-6 mt-md-0 mt-2" *ngIf="graduationEvents">
      <span [translate]="graduationEvents?.length > 1 ? 'UniversisGraduationModule.GraduationOpenEventNotice.other' :
                        graduationEvents.length === 1 ? 'UniversisGraduationModule.GraduationOpenEventNotice.one' :
                        'UniversisGraduationModule.GraduationOpenEventNotice.none'"
                        [translateParams]="{count: graduationEvents?.length }">
      </span>
    </div>
    <div class="col-12 col-md-6 ml-auto text-md-right mt-md-0 mt-2" *ngIf="currentGraduationRequest ">
        <span>{{ 'UniversisGraduationModule.StatusLabel' | translate }} : </span>
        <span  [ngClass]="{'text-primary': currentGraduationRequest?.actionStatus?.alternateName ==='PotentialActionStatus',
                                   'text-success': currentGraduationRequest?.actionStatus?.alternateName ==='CompletedActionStatus',
                                  'text-purple': currentGraduationRequest?.actionStatus?.alternateName ==='ActiveActionStatus'}">
          {{ 'Requests.ActionStatusTypes.' + currentGraduationRequest?.actionStatus?.alternateName | translate  }}</span>
      </div>
  </div>
  <div class="row" *ngIf="!isLoading">
    <div class="col">
      <universis-msgbox
        [title]="getTitle()"
        [icon]="getIcon()"
        [message]="getMessage()"
        [extraMessage]="'message.extraMessage | translate: params'"
        [actionButton]="'UniversisGraduationModule.GraduationRequestWizard' | translate"
        [disableBut]="!canAccessToGraduationRequest.success"
        (action)="navigateToGraduationRequest()">
      </universis-msgbox>
    </div>
  </div>

  <div class="row" *ngIf="!isLoading && currentGraduationRequest
  && (requestThirdStep || requestFourthStep)">
    <div class="col">
      <h5 class="mt-2 mb-4" [translate]="'UniversisGraduationModule.GraduationRequestOverview'"></h5>
      <div class="card">
        <div class="card-body">
          <universis-graduation-document-submission [currentStep]="requestThirdStep"></universis-graduation-document-submission>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <universis-graduation-ceremony [currentStep]="requestFourthStep"></universis-graduation-ceremony>
        </div>
      </div>
    </div>
  </div>
</ng-container>
