<!-- The graduation request student form -->
<ng-template #studentGraduationRequestForm>
  <form #studentGraduationRequest="ngForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-12">
        <p> {{ requestName | translate }} </p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <label for="graduation-special-request" class="sr-only"> {{ 'UniversisGraduationModule.SpecialRequest.Title' | translate }} </label>
        <p>{{ 'UniversisGraduationModule.SpecialRequest.Notice' | translate }}</p>
        <textarea
          id="graduation-special-request"  maxlength="512"
          name="graduation-special-request"
          placeholder="{{ 'UniversisGraduationModule.SpecialRequest.InputPlaceholder' | translate }}"
          class="form-control"
          [(ngModel)]="studentRequest.specialRequest"
        ></textarea>
      </div>
      <div class="col-12 mt-3" *ngIf="this.currentStep.data.events && this.currentStep.data.events.length > 0">
        <label for="graduation-SelectEvent">
          {{ 'UniversisGraduationModule.SpecialRequest.SelectEvent' | translate }}
        </label>
        <select
          (change)="onEventChange($event)"
          name="graduation-SelectEvent"
          id="graduation-SelectEvent"
          class="form-select form-control"
          [(ngModel)]="this.selectedEventId">
          <option class="py-3" *ngFor="let event of this.currentStep.data.events" [value]="event.id">
            {{ event.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <div class="form-check mt-2" *ngFor="let consent of graduationRequestConsents; index as i;">
          <input
            type="checkbox"
            id="{{ consent.id }}"
            name="{{ consent.id }}"
            class="form-check-input checkbox checkbox-primary"
            [checked]="consents[i]"
            (click)="updateConsentsStatus($event, i)"
            [(ngModel)]="studentRequest[consent.id]"
          />
          <label for="{{ consent.id }}" class="form-check-label" >
            {{ consent.translationKey | translate }}
          </label>
        </div>
      </div>
      <div class="col-12 mt-2">
        <div class="form-check mt-2" *ngFor="let consent of userConsents; index as i;">
          <input
            type="checkbox"
            id="{{ consent.alternateName }}"
            name="{{ consent.alternateName }}"
            class="form-check-input checkbox checkbox-primary"
            [checked]="userConsents[i].val == 'y'"
            (click)="toggleUserConsent($event, i)"
          />
          <label for="{{ consent.alternateName }}" class="form-check-label" >
            {{ consent.metadata.description }}
          </label>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <i class="fa fa-info-circle text-primary"></i>
        <span> {{ 'UniversisGraduationModule.GraduationRequest.WillAnnounceDatesNotice' | translate }} </span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="span text-red mt-4" *ngIf="this.currentStep.data.errors">
          {{'UniversisGraduationModule.GraduationRequest.errors.'+this.currentStep.data.errors.code | translate}}
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 text-right">
        <input
          type="submit"
          value="{{ 'UniversisGraduationModule.GraduationRequest.Request' | translate }}"
          class="btn btn-purple pl-4 pr-4"
          [disabled]="!canSubmit"
        />
      </div>
    </div>
  </form>
</ng-template>

<!-- The view of the form when it is already submitted -->
<ng-template #studentGraduationRequestView>
  <div class="row mt-2">
    <div class="col-12 mt-2">
      <h5> {{ 'UniversisGraduationModule.GraduationRequest.Request' | translate }} </h5>
      <p class="text-secondary"> {{ requestName | translate }} </p>
    </div>
  </div>
  <div class="row mt-2" *ngIf="specialRequest">
    <div class="col-12">
      <h5> {{ 'UniversisGraduationModule.SpecialRequest.Title' | translate }} </h5>
      <p class="text-secondary"> {{ specialRequest | translate }} </p>
    </div>
  </div>

  <!-- Graduation ceremony date and location -->
  <div class="row mt-2">
    <div class="col-12">
      <h5> {{ 'UniversisGraduationModule.GraduationCeremony.GraduationCeremonyStatus' | translate }} </h5>
      <div *ngIf="this.selectedEvent?.startDate">
        <div class="row col-12 col-xl-12">
          <div class="col-12 col-md-4 mt-2">
            <div class="row text-gray-600"> {{ 'UniversisGraduationModule.EventName' | translate }} : </div>
          </div>
          <div class="col-12 col-md-8 mt-2">
            <div class="row font-weight-bold font-lg">{{ this.selectedEvent?.name }}</div>
          </div>
        </div>
        <div class="row col-12 col-xl-12">
          <div class="col-12 col-md-6 col-lg-3 col-xl-3 mt-2" *ngIf="selectedEvent?.startDate">
            <div class="row text-gray-600"> {{ 'UniversisGraduationModule.Date' | translate }} </div>
            <div class="row font-weight-bold font-lg">{{ this.selectedEvent?.startDate | date }}</div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 col-xl-3 mt-2" *ngIf="selectedEvent?.startDate">
            <div class="row text-gray-600"> {{ 'UniversisGraduationModule.Time' | translate }} </div>
            <div class="row font-weight-bold font-lg">{{ this.selectedEvent?.startDate | date: 'short' }}</div>
          </div>
          <div class="col-12 col-md-6 col-lg-6 col-xl-6 mt-2" *ngIf="this.selectedEvent?.location">
            <div class="row text-gray-600"> {{ 'UniversisGraduationModule.Location' | translate }} </div>
            <div class="row font-weight-bold font-lg">{{ this.selectedEvent?.location?.name }}</div>
          </div>
          <div class="col-12 col-md-6 col-lg-12 col-xl-6 mt-2" *ngIf="this.selectedEvent?.url">
            <div class="row text-gray-600"> {{ 'UniversisGraduationModule.Url' | translate }} </div>
            <div class="row font-weight-bold font-lg"><a href="{{this.selectedEvent?.url}}" target="_blank">{{ this.selectedEvent?.url }}</a></div>
          </div>
        </div>
      </div>
      <div>
        <div class="font-lg mt-3" *ngIf="!selectedEvent?.startDate">
          {{ 'UniversisGraduationModule.GraduationCeremony.DatesWillBeAnnouncedNotice' | translate }}
        </div>
        <div class="font-lg mt-3" *ngIf="!selectedEvent?.location">
          <i class="font-lg text-info fa fa-info-circle mr-3"></i>
          <span> {{ 'UniversisGraduationModule.GraduationCeremony.MailWillBeSentNotice' | translate }} </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12" *ngIf="userConsents && userConsents.length">
      <div>
        <h5>{{ 'UniversisGraduationModule.UserConsents.Title' | translate }}</h5>
        <div class="form-check mt-3" *ngFor="let consent of userConsents; index as i;">
          <input
            type="checkbox"
            id="{{ consent.alternateName }}"
            name="{{ consent.alternateName }}"
            class="form-check-input checkbox checkbox-primary"
            [checked]="userConsents[i].val == 'y'"
            (click)="toggleUserConsent($event, i)"
          />
          <label for="{{ consent.alternateName }}" class="form-check-label" >
            {{ consent.metadata.description }}
          </label>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- Component start -->
<div class="row">
  <div class="col-12">
    <h2> {{ 'UniversisGraduationModule.GraduationRequestTitle' | translate }} </h2>
  </div>
</div>
<ng-container
  [ngTemplateOutlet]="submitted ? studentGraduationRequestView : studentGraduationRequestForm"
></ng-container>
